@import '_normalize.scss';

body {
    background: rgba(80, 100, 80, 0.85);
}

Header {
    height: 35px;
    display: flex;
    justify-content: space-between;
    color: #f9f9f9;
    .title {
        font-size: 20px;
        opacity: 0.8;
    }
    .nav {
    }
    a {
        color: #f9f9f9;
        text-decoration: none;
    }
}

Footer {
}
